/* ====== GLOBAL ====== */
body { margin: 0 }

/* ====== COMPONENT CHANGES ====== */

/* === FILTERS AND SORT === */

#parameter-field {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto 5px auto;
    background-image: url("./components/images/search-background.jpg");
    border: black ridge 2px;
    border-radius: 20px;
}

#image-container {
    margin: 0 auto;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

body {
    background-image: url("./components/images/background.jpg");
}

.gifs {

    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    margin: 5px;

}

.key-word {
    margin: 10px;
}

.text-box {
    font-size: 20px;
    margin: 15px;
    width: 400px;
    height: 25px;
    border: black solid 2px;
    z-index: 3;

}

@keyframes move {
    to {
        background-position: 100vh;
    }
}

.submit-button {
    font-weight: bold;
    font-size: 15px;
    margin: 15px;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: black 2px solid;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    animation: move 35s linear infinite;
}

.trend-button {
    font-weight: bold;
    font-size: 15px;
    margin: 15px;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: black 2px solid;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    animation: move 35s linear infinite;
}

.random-button {
    font-weight: bold;
    font-size: 15px;
    margin: 15px;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: black 2px solid;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    animation: move 35s linear infinite;
}
